$primary-color: #007aff;
$hover-color: rgb(90, 200, 250);

h1 {
	color: $primary-color;
}

.container {
	height: 100%;
	display: grid;
	background-color: aliceblue;
}

.todo {
	margin: auto;
	width: 30%;
}

.prioHigh {
	color: rgb(255, 59, 48);
}

.prioLow {
	color: rgb(52, 199, 89);
}

button {
	margin: 10px 0px;
	padding: 5px 50px;
	background-color: $primary-color;
	color: white;
	font-weight: 800;
	border-radius: 4px;
	border: 2px solid $primary-color;

	&:hover {
		background-color: $hover-color;
		border: 2px solid $hover-color;
	}
}

.field {
	margin-bottom: 20px;
	display: inline-block;
}

.inputField {
	margin-top: 15px;
	margin-bottom: 15px;
}

.radio {
	margin: 10px 10px;
}

label {
	font-weight: 600;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	padding: 15px;
	border-radius: 10px;
	background-color: white;

	&:hover {
		transform: scale(1.2);
		box-shadow: 0 2.7px 5.3px rgba(0, 0, 0, 0.028),
			0 8.9px 17.9px rgba(0, 0, 0, 0.042), 0 40px 80px rgba(0, 0, 0, 0.07);
	}
}

.prio {
	margin-bottom: 1px;
}

.radioContainer {
	font-weight: normal;
	position: relative;
	padding-right: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radioContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.radioCheck {
	position: absolute;
	top: 0;
	right: 20px;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
	box-shadow: inset 2px 2px 2px #d6d6d6, inset -2px -2px 2px #ffffff;
}

.radioContainer:hover input ~ .radioCheck {
	background-color: $hover-color;
	box-shadow: none;
}

.radioContainer input:checked ~ .radioCheck {
	background-color: $primary-color;
	box-shadow: none;
}

.radioCheck:after {
	content: '';
	position: absolute;
	display: none;
}

.radioContainer input:checked ~ .radioCheck:after {
	display: block;
}

.radioContainer .radioCheck:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}
